/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal styling */
body {
  background-color: #e6eff5;
  font-family: "Karla", sans-serif;
  font-size: 100%;
  margin-top: 24px;
}

main {
  max-width: 635px;
  width: 44.0972%;
  margin: 0 auto;
}

#flex_container {
  display: flex;
  width: 100%;
}

main,
#flex_container {
  min-width: 311px;
}

/* header styles */
header {
  background-color: #fff;
  padding: 1.667em;
  width: 100%;
}

header h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #2ab3b1;
  margin-bottom: 1em;
}

header h2 {
  font-weight: 700;
  font-size: 1.125em;
  color: #c0df33;
  margin-bottom: 0.41667em;
}

header p {
  font-size: 1em;
  line-height: 1.625em;
  color: #9aa7be;
}

/* section styles */
section {
  background-color: rgb(42, 179, 177);
  padding: 1.667em;
  flex-basis: 50%;
}

section h2 {
  font-weight: 700;
  font-size: 1.125em;
  color: #fff;
  margin-bottom: 1em;
}

section h3 {
  font-weight: 700;
  font-size: 2em;
  color: #fff;
}

section h3 span {
  font-weight: 400;
  font-size: 0.5em;
  color: #fff;
  opacity: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.625em;
}

section p {
  font-size: 1em;
  line-height: 1.625em;
  color: #fff;
  margin-bottom: 1.625em;
}

section button {
  border: none;
  border-radius: 5px;
  background-color: #c0df33;
  color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  width: 100%;
}

/* aside styling */
aside {
  background-color: rgba(42, 179, 177, 0.85);
  padding: 1.667em;
  flex-basis: 50%;
}

aside h4 {
  font-weight: 700;
  font-size: 1.125em;
  color: #fff;
  margin-bottom: 1em;
}

aside ul {
  list-style: none;
}

aside ul li {
  line-height: 1.429em;
}

aside ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 75%;
  font-size: 0.875em;
}

/* mobile media query styles */
@media only screen and (max-width: 375px) {
  #flex_container {
    display: block;
  }

  /* header */
  header h1 {
    font-size: 1.25em;
  }

  header h2 {
    font-size: 0.9375em;
  }

  header p {
    font-size: 0.875em;
  }
}

/* Attribution styling */
.attribution {
  font-size: 68.75%;
  text-align: center;
  margin-top: 16px;
  clear: both;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
